### IDE ###
.idea

### ENV ###
.env

### VENV ###
venv_microsoft
venv_ubuntu

### Python ###
__pycache__/

### BD ###
*.sqlite3

### Django ###
*.pyc
/media

### DB ###
db.sqlite3

### Other ###
help.txt