### IDE ###
.idea

### Python ###
__pycache__/

### ENV ###
.env

### VENV ###
venv_microsoft
venv_ubuntu

### Media ###
media/users/

### BD ###
*.sqlite3

### Django ###
*.pyc

### DB ###
db.sqlite3

### Other ###
help.txt
tmp/